* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000; 
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-image: url("https://raw.githubusercontent.com/filonushka/ready-projects/momentum/momentum/assets/images/night/17.jpg");  
  /* transition: background-image 1s ease-in-out; */
}

.upper_div{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.weather_table {
  display: flex;
  flex-direction: ;
}

.city {   
  font-size: 20px;
  padding: 10px 0;
  margin: 0 auto;
  opacity: 0.6;
}
.temperature {    
  font-size: 40px;
  margin-bottom: 0px;
  opacity: 0.6;
}

.weather-description {
  width: 150px;
  margin: 10px auto;
  font-size: 15px;
  padding: 12px 0;
  opacity: 0.6;
  border-radius: 5px;
}
.weather-icon {
  font-size: 50px;
  opacity: 0.6;
}
.weather-icon:hover {
  animation: shake 1.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}

.calendar {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.time {
  font-size: 4rem;
  margin-bottom: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

.quote-box {
  /* background-color: rgba(255, 255, 255, 0.25); */
  padding: 1rem 10rem;
  margin-top: 7rem;
  border: none;
  border-radius: 25px;
}

.quote {
  text-align: center;
}
.author {
  text-align: right;
  font-style: italic;
}
.btn {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 15px;
}

.btn_picture {
  width: 40px;
  height: 40px;
  align-items: right;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
  background-color: none;
}
.btn_picture:hover {
  filter: grayscale(0.8);
}

.btn_picture:active,
.btn_picture:focus {
  outline: 0;
}
.btn_picture:active{
  transform: scale(1.02)
}
@media (max-width: 700px) {
  .time, .calendar{
    font-size: 4rem;
  }
}
